.product-image{
  max-width: 100%;
  padding:10px;
}

.product-image img
{
	position: center;
  	max-width:100%;
  	height:auto;
  	max-height: 200px;
}
.r-container{
	padding: 15px;
}
.product-title{
	font-size: 20px;
}
.product{
	background-color: #3333;
    padding: 10px;
    margin: 5px;
    float: left;
    height:300px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
.single-product{
    text-align: center;
}
.hot-singer{
	background-color: black;
	color: white;
	font-size: 23px;
}
.footer-web{
	background-color: black;
	color: white;
	font-size: 23px;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
