.Login{
	width: 300px;
	height: 300px;
	border: 1px solid blue;
	border-radius: 10px;
	text-align: center;
	border:1px solid red;
	margin-top: 100px;
	margin-left: 620px;
	margin-bottom: 100px;
	margin-right: 150px;
	background-color: #e5dfe8;

}
body{
	background-image: url("images/2.jpg");
}
}
h1{
	color: black;
	font-family: sans-serif;
}
.Login input{
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 20px;
}
.Login button{
	width: 200px;
	height:40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border:none;
	background-color: lightblue;
	color: green;
}
.Login button:hover{
	font-size: 15px;
	background-color: lightgreen;
	color: white;
}